* { box-sizing: border-box; font-family: Inter, sans-serif; }

body {
    margin: 0;
    background: #111827;
    color: #f9fafb;
}

.app {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    width:95%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions button {
    margin-left: 10px;
}

.form, .controls {
    margin-top: 20px;
}

input, textarea, select {
    padding: 8px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #3b82f6;
    color: white;
}

.task {
    background: #1f2937;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    border-left: 5px solid;
}

.task.high { border-color: #ef4444; }
.task.medium { border-color: #f59e0b; }
.task.low { border-color: #10b981; }

.task.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.progress-bar {
    background: #374151;
    height: 8px;
    border-radius: 8px;
    margin-top: 20px;
}

#progress {
    height: 100%;
    background: #10b981;
    width: 0%;
    transition: 0.3s;
}